{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "node": "current",
        "browsers": [
          "last 3 versions",
          "last 4 iOS versions"
        ]
      }
    }],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "production": {
      //@SEE https://medium.com/doctolib-engineering/improve-react-performance-with-babel-16f1becfaa25#.5epmw122s
      "presets": ["react-optimize"]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
