@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css";

html,
body,
#app {
  height: 100%;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  line-height: 16px;

  & * {
    box-sizing: border-box;
  }
}

body {
  font-size: 100%;
  font-size: 1em;
  line-height: 1.25;
}

p {
  margin-bottom: 8px;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: 0.5;
}

@media (min-width: 43.75em) {
  body {
    font-size: 1em;
    line-height: 1.375;
  }
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
  }
}

blockquote {
  font-size: 1.25em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    line-height: 1.45833333;
  }
}

.root {
  height: 100%;
}

.menu {
  background: black;
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;

  & ul {
    list-style: none;
    display: flex;

    & li:not(:last-child) {
      padding-right: 8px;
    }

    & a {
      color: white;
    }
  }
}
